## Домашнее задание
1.Разделить дата сет на трейн и тест в отношение 50:50 70:30 80:20 (с перемешиванием)

2.Обучать наши модели на трейне. Предсказывать и замерять метрику R^2 и на трейне и на тесте

3.Проверить следующие модели, для каждого разделения: а) sales ~ log_tv + radio б) sales ~ TV + radio в) sales ~ TV + radio + newspaper

In [10]:
import pandas as pd
import numpy as np
import sklearn as skl
from sklearn.model_selection import train_test_split
import math

In [3]:
data = pd.read_csv('data/Advertising.csv', usecols=[1,2,3,4])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
TV           200 non-null float64
radio        200 non-null float64
newspaper    200 non-null float64
sales        200 non-null float64
dtypes: float64(4)
memory usage: 6.3 KB

In [11]:
# Насколько я поняла в пункте 3.а) опечтка: вместо логарифмировнаия нужно сделать воведение в степень 0.4,
# так как в этом случае более четко прослеживается линейная зависимомть.

data['log_tv'] = data.TV.apply(lambda x: math.pow(x, 0.4))

In [12]:
data.head()

      TV  radio  newspaper  sales    log_tv
0  230.1   37.8       69.2   22.1  8.805756
1   44.5   39.3       45.1   10.4  4.563983
2   17.2   45.9       69.3    9.3  3.120408
3  151.5   41.3       58.5   18.5  7.450151
4  180.8   10.8       58.4   12.9  7.996121

Создадим train и test дата сеты в отношение 50:50

In [13]:
data_train, data_test = train_test_split(data, test_size = 0.5, random_state = 42, shuffle = True)

Создадим train и test дата сеты в отношение 50:50

In [14]:
data_train_2, data_test_2 = train_test_split(data, test_size = 0.3, random_state = 42, shuffle = True)

In [15]:
len(data_train_2)

140

In [16]:
len(data_test_2)

60

Создадим train и test дата сеты в отношение 80:20

In [17]:
data_train_3, data_test_3 = train_test_split(data, test_size = 0.2, random_state = 45, shuffle = True)

2.Обучать наши модели на трейне. Предсказывать и замерять метрику R^2 и на трейне и на тесте

3.Проверить следующие модели, для каждого разделения: а) sales ~ log_tv + radio б) sales ~ TV + radio в) sales ~ TV + radio + newspaper

In [18]:
import statsmodels.formula.api as smf

Провери на разделение 50:50

In [24]:
x_lm = smf.ols('sales ~ log_tv + radio', data_train).fit()
rss = np.sum(x_lm.resid ** 2)
print("RSS:", rss)
print("RSE:", np.sqrt(rss / (data_train.shape[0] - 2 - 1)))
print("R^2:", x_lm.rsquared)

RSS: 200.23499560383377
RSE: 1.4367596546375327
R^2: 0.9273049082016978

In [35]:
x_lm_pred = x_lm.predict(data_test[['log_tv', 'radio']])
x_lm_test = data_test['sales']
RSS_test = np.sum((x_lm_test - x_lm_test.mean())**2)
TSS_test = np.sum((x_lm_test - x_lm_pred.mean())**2)
RSE_test = np.sqrt(RSS_test / (data_test.shape[0] - 2 - 1))
TSS_test = np.sum((x_lm_pr - x_lm_pr.mean())**2)
R_2_test = (1 - RSS_test/TSS_test)

print("RSS_test:", RSS_test)
print("RSE_tesr:", RSE_test)
print("TSS_test:", TSS_test)
print("R^2:", R_2_test)

RSS_test: 2615.1675000000005
RSE_tesr: 5.192349149539315
TSS_test: 2350.329528371672
R^2: -0.1126812084992228